<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <title>Hello, Vue!</title>

    <script src="https://unpkg.com/vue"></script>

    <link href="main.css" rel="stylesheet">

</head>
<body>

<div id="app">
    <search-box v-bind:search-data="countries"></search-box>
</div>

<script type="text/javascript">

  Vue.component('search-box', {
    props: ['searchData'],
    template:
        '<div class="search-box">' +
        '     <input class="input" type="text" v-on:input="search($event.target.value)" />' +
        '     <div class="layout" v-bind:class="{ visibility: isResultVisibility }">' +
        '         <div class="item" v-for="result in results">' +
        '             {{ result.text }}' +
        '         </div>' +
        '     </div>' +
        '</div>',
    data: function (){
      return {
        results: [],
        isResultVisibility: false
      }
    },
    methods: {
      search: function (newText) {
        this.isResultVisibility = false;
        if (newText.length < 1) {
          this.results = [];
          return;
        }
        let regex = new RegExp(newText, 'i');
        this.results = this.searchData.filter((element) => {
          return element.text.search(regex) >= 0;
        }).sort((a, b) => {
          if (a.text.search(regex) > b.text.search(regex)) return 1;
          if (a.text.search(regex) < b.text.search(regex)) return -1;
          return 0;
        });
        if (this.results.length > 0) this.isResultVisibility = true;
      }
    }
  });

  vm = new Vue({
    el: '#app',
    data: {
      countries: [
        {id: 0, text: 'Абхазия'},
        {id: 1, text: 'Австралия'},
        {id: 2, text: 'Австрия'},
        {id: 3, text: 'Азербайджан'},
        {id: 4, text: 'Албания'},
        {id: 5, text: 'Алжир'},
        {id: 6, text: 'Ангола'},
        {id: 7, text: 'Андорра'},
        {id: 8, text: 'Антигуа и Барбуда'},
        {id: 9, text: 'Аргентина'},
        {id: 10, text: 'Армения'},
        {id: 11, text: 'Афганистан'},
        {id: 12, text: 'Багамские Острова'},
        {id: 13, text: 'Бангладеш'},
        {id: 14, text: 'Барбадос'},
        {id: 15, text: 'Бахрейн'},
        {id: 16, text: 'Белиз'},
        {id: 17, text: 'Белоруссия'},
        {id: 18, text: 'Бельгия'},
        {id: 19, text: 'Бенин'},
        {id: 20, text: 'Болгария'},
        {id: 21, text: 'Боливия'},
        {id: 22, text: 'Босния и Герцеговина'},
        {id: 23, text: 'Ботсвана'},
        {id: 24, text: 'Бразилия'},
        {id: 25, text: 'Бруней'},
        {id: 26, text: 'Буркина-Фасо'},
        {id: 27, text: 'Бурунди'},
        {id: 28, text: 'Бутан'},
        {id: 29, text: 'Вануату'},
        {id: 30, text: 'Ватикан'},
        {id: 31, text: 'Великобритания'},
        {id: 32, text: 'Венгрия'},
        {id: 33, text: 'Венесуэла'},
        {id: 34, text: 'Восточный Тимор'},
        {id: 35, text: 'Вьетнам'},
        {id: 36, text: 'Габон'},
        {id: 37, text: 'Гаити'},
        {id: 38, text: 'Гайана'},
        {id: 39, text: 'Гамбия'},
        {id: 40, text: 'Гана'},
        {id: 41, text: 'Гватемала'},
        {id: 42, text: 'Гвинея'},
        {id: 43, text: 'Гвинея-Бисау'},
        {id: 44, text: 'Германия'},
        {id: 45, text: 'Гондурас'},
        {id: 46, text: 'Государство Палестина'},
        {id: 47, text: 'Гренада'},
        {id: 48, text: 'Греция'},
        {id: 49, text: 'Грузия'},
        {id: 50, text: 'Дания'},
        {id: 51, text: 'Джибути'},
        {id: 52, text: 'Доминика'},
        {id: 53, text: 'Доминиканская Республика'},
        {id: 54, text: 'ДР Конго'},
        {id: 55, text: 'Египет'},
        {id: 56, text: 'Замбия'},
        {id: 57, text: 'Зимбабве'},
        {id: 58, text: 'Израиль'},
        {id: 59, text: 'Индия'},
        {id: 60, text: 'Индонезия'},
        {id: 61, text: 'Иордания'},
        {id: 62, text: 'Ирак'},
        {id: 63, text: 'Иран'},
        {id: 64, text: 'Ирландия'},
        {id: 65, text: 'Исландия'},
        {id: 66, text: 'Испания'},
        {id: 67, text: 'Италия'},
        {id: 68, text: 'Йемен'},
        {id: 69, text: 'Кабо-Верде'},
        {id: 70, text: 'Казахстан'},
        {id: 71, text: 'Камбоджа'},
        {id: 72, text: 'Камерун'},
        {id: 73, text: 'Канада'},
        {id: 74, text: 'Катар'},
        {id: 75, text: 'Кения'},
        {id: 76, text: 'Кипр'},
        {id: 77, text: 'Киргизия'},
        {id: 78, text: 'Кирибати'},
        {id: 79, text: 'Китай'},
        {id: 80, text: 'КНДР'},
        {id: 81, text: 'Колумбия'},
        {id: 82, text: 'Коморские Острова'},
        {id: 83, text: 'Коста-Рика'},
        {id: 84, text: 'Кот-д\'Ивуар'},
        {id: 85, text: 'Куба'},
        {id: 86, text: 'Кувейт'},
        {id: 87, text: 'Лаос'},
        {id: 88, text: 'Латвия'},
        {id: 89, text: 'Лесото'},
        {id: 90, text: 'Либерия'},
        {id: 91, text: 'Ливан'},
        {id: 92, text: 'Ливия'},
        {id: 93, text: 'Литва'},
        {id: 94, text: 'Лихтенштейн'},
        {id: 95, text: 'Люксембург'},
        {id: 96, text: 'Маврикий'},
        {id: 97, text: 'Мавритания'},
        {id: 98, text: 'Мадагаскар'},
        {id: 99, text: 'Македония'},
        {id: 100, text: 'Малави'},
        {id: 101, text: 'Малайзия'},
        {id: 102, text: 'Мали'},
        {id: 103, text: 'Мальдивские Острова'},
        {id: 104, text: 'Мальта'},
        {id: 105, text: 'Марокко'},
        {id: 106, text: 'Маршалловы Острова'},
        {id: 107, text: 'Мексика'},
        {id: 108, text: 'Мозамбик'},
        {id: 109, text: 'Молдавия'},
        {id: 110, text: 'Монако'},
        {id: 111, text: 'Монголия'},
        {id: 112, text: 'Мьянма'},
        {id: 113, text: 'Намибия'},
        {id: 114, text: 'Науру'},
        {id: 115, text: 'Непал'},
        {id: 116, text: 'Нигер'},
        {id: 117, text: 'Нигерия'},
        {id: 118, text: 'Нидерланды'},
        {id: 119, text: 'Никарагуа'},
        {id: 120, text: 'Новая Зеландия'},
        {id: 121, text: 'Норвегия'},
        {id: 122, text: 'ОАЭ'},
        {id: 123, text: 'Оман'},
        {id: 124, text: 'Пакистан'},
        {id: 125, text: 'Палау'},
        {id: 126, text: 'Панама'},
        {id: 127, text: 'Папуа - Новая Гвинея'},
        {id: 128, text: 'Парагвай'},
        {id: 129, text: 'Перу'},
        {id: 130, text: 'Польша'},
        {id: 131, text: 'Португалия'},
        {id: 132, text: 'Республика Конго'},
        {id: 133, text: 'Республика Корея'},
        {id: 134, text: 'Россия'},
        {id: 135, text: 'Руанда'},
        {id: 136, text: 'Румыния'},
        {id: 137, text: 'Сальвадор'},
        {id: 138, text: 'Самоа'},
        {id: 139, text: 'Сан-Марино'},
        {id: 140, text: 'Сан-Томе и Принсипи'},
        {id: 141, text: 'Саудовская Аравия'},
        {id: 142, text: 'Свазиленд'},
        {id: 143, text: 'Сейшельские Острова'},
        {id: 144, text: 'Сенегал'},
        {id: 145, text: 'Сент-Винсент и Гренадины'},
        {id: 146, text: 'Сент-Китс и Невис'},
        {id: 147, text: 'Сент-Люсия'},
        {id: 148, text: 'Сербия'},
        {id: 149, text: 'Сингапур'},
        {id: 150, text: 'Сирия'},
        {id: 151, text: 'Словакия'},
        {id: 152, text: 'Словения'},
        {id: 153, text: 'Соломоновы Острова'},
        {id: 154, text: 'Сомали'},
        {id: 155, text: 'Судан'},
        {id: 156, text: 'Суринам'},
        {id: 157, text: 'США'},
        {id: 158, text: 'Сьерра-Леоне'},
        {id: 159, text: 'Таджикистан'},
        {id: 160, text: 'Таиланд'},
        {id: 161, text: 'Танзания'},
        {id: 162, text: 'Того'},
        {id: 163, text: 'Тонга'},
        {id: 164, text: 'Тринидад и Тобаго'},
        {id: 165, text: 'Тувалу'},
        {id: 166, text: 'Тунис'},
        {id: 167, text: 'Туркмения'},
        {id: 168, text: 'Турция'},
        {id: 169, text: 'Уганда'},
        {id: 170, text: 'Узбекистан'},
        {id: 171, text: 'Украина'},
        {id: 172, text: 'Уругвай'},
        {id: 173, text: 'Федеративные Штаты Микронезии'},
        {id: 174, text: 'Фиджи'},
        {id: 175, text: 'Филиппины'},
        {id: 176, text: 'Финляндия'},
        {id: 177, text: 'Франция'},
        {id: 178, text: 'Хорватия'},
        {id: 179, text: 'ЦАР'},
        {id: 180, text: 'Чад'},
        {id: 181, text: 'Черногория'},
        {id: 182, text: 'Чехия'},
        {id: 183, text: 'Чили'},
        {id: 184, text: 'Швейцария'},
        {id: 185, text: 'Швеция'},
        {id: 186, text: 'Шри-Ланка'},
        {id: 187, text: 'Эквадор'},
        {id: 188, text: 'Экваториальная Гвинея'},
        {id: 189, text: 'Эритрея'},
        {id: 190, text: 'Эстония'},
        {id: 191, text: 'Эфиопия'},
        {id: 192, text: 'ЮАР'},
        {id: 193, text: 'Южная Осетия'},
        {id: 194, text: 'Южный Судан'},
        {id: 195, text: 'Ямайка'},
        {id: 196, text: 'Япония'}
      ]
    }
  })

</script>

</body>
</html>