.search-box {
    width: 200px;
}

.search-box .input {
    width: 100%;
    border: 1px solid black;
}

.search-box .layout {
    width: 100%;
    border: 1px solid #cccccc;
    display: none;
}

.search-box .layout.visibility {
    display: block;
}

.search-box .layout .item {
    cursor: pointer;
}

.search-box .layout .item:hover {
    background: lightskyblue;
}